<!DOCTYPE html>
<html>

<head>

       <title>{% block title %}{% endblock %}</title>
    {% block style %}
   <meta name="description" content="Technical Fest of Iert Allahabad">
<meta name="keywords" content="IERT,Technovation,technovation2k18,iert allahabad,technical fest,aktu fest,aktu zonal fest,aktu,allahabad,selfievation,selfivation,tech fest,technovation2k18.org,technovation.org,2k18technovation,2k18,Mega event">
  <link rel="icon" href="images/favicon.jpg" type="image/gif">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      {% load static %}
      <link rel="stylesheet" href="{% static 'account/css/bootstrap.css'%}" type="text/css">
      <link rel="stylesheet" href="{% static 'account/css/font-awesome.css'%}" type="text/css">
      <link rel="stylesheet" href="{% static 'account/css/font-awesome.min.css'%}" type="text/css">
      <link rel="stylesheet" href="{% static 'account/css/hover-effect.css'%}" type="text/css">
      <link rel="stylesheet" href="{% static 'account/css/main.css'%}" type="text/css">
      <link rel="stylesheet" href="{% static 'account/css/styles.css'%}" type="text/css">
      <link rel="stylesheet" href="{% static 'account/css/base.css'%}" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" >
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/hover-effect.css">
     {% endblock %}

  </head>




      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112923270-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-112923270-2');
</script>

  <body>
{% block login %}
<nav class="navbar navbar-expand-md bg-dark  navbar-dark fixed-top ">
<a class="navbar-brand mr-auto " href="index.html" style="margin-left: 20px;" ><img src="images/logo.png" width="50" height="40px;"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  >
  <span class="navbar-toggler-icon  "></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <!--
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'home' %}">HOME <span class="sr-only">(current)</span></a>
    </li>-->
    <!--
      <li class="nav-item    ">
          <a class="nav-link " href="{% url 'event' %}"> EVENT </a></li>-->

<li class="nav-item   "><a class="nav-link " href="{% url 'home' %}"> HOME  </a></li>
<li class="nav-item   "><a class="nav-link " href="{% url 'event' %}"> EVENT  </a></li>
      <li class="nav-item   "><a class="nav-link " href="{% url 'login' %}"> LOGIN  </a></li>

          <li class="nav-item   "><a class="nav-link  " href="sponsor.html"> SPONSOR  </a></li>

          <li class="nav-item   "><a class="nav-link  " href="gallery.html"> GALLERY </a></li>
  </ul>
</div>
</nav>
{% endblock %}


<br>
<br>
<br>


{% block content %}

      <div style="margin-top: 50px;">
      </div>

      <h2 style="text-align: center;">SOTY(Student of The Year)</h2>
      <div style="margin-top: 20px;">
      </div>






 <!--     <div class="d-flex justify-content-center">





   <img src="../images/ei/tech/robowar.jpg" height="400px" width="60%" style="align-items: center;">

      </div>



     -->





      <div style="margin-top: 50px;"></div>








     <!------ Deatlils Here----------------->

     <div class="container " >
         <div class="row" >
             <div class="col-sm-7 col-xs-12 details" >

 <ul class="nav nav-tabs" role="tablist">
<li class="nav-item">
  <a class="nav-link active " data-toggle="tab" href="#gameplay" role="tab">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#rule" role="tab">Rules</a>
</li>
      <li class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#coordinator" role="tab">Coordinators</a>
</li>

</ul>






<div class="tab-content">
<div class="tab-pane active" id="gameplay" role="tabpanel" style="font-size: 16px;">

    <br>
   The biggest extravaganza is here. The most awaited and esteemed event of the Technovation’18 i.e., “Student of The Year”. Gear up yourselves and boost up your skills to excel in this enthralling challenge. This event is specifically designed to find out the most spectacular and intriguing personality of the college among the students of first year and second year. It’s registration fees is kept to a minimal value so that maximum students can participate. The event will bring out the best of an individual in every aspect. The most deserved will “Bag” the “Tag”.
</div>
<div class="tab-pane" id="rule" role="tabpanel">
    <br>

    Events of each day has been described below-
<br>
    <br>
DAY 1-
    <br>
First Round (for all the contestants)
<br>
<p style="font-size: 17px; text-align: center;"><b >S-Scrutiny</b></p>
It is a quiz competition consisting of 50 questions and is to be solved in half an hour. The quiz shall be of 100 points. The quiz is to be conducted in 3 slots keeping in mind the convenience of the participants, so that they can take the test in whichever slot they want. <br>The marking scheme has been conditioned in the following manner-<br>
2 points for every correct answer<br>
-1 points for every wrong answer<br>
0 points for questions not attempted
<br><br>
<br>
Day 2-
    <br>
Second Round (only for top 40 contestants)
<br>
It will consist of two parts-
<br><br>
Part one-
    <br>
    <p style="font-size: 17px; text-align: center;"><b >O-Omnipotent</b></p>

This will be a round of 150 points and the points shall be given on basis of how much the student has participated and won in the other events. The points shall be given as follows.<br>
10 points-For winning an event<br>
6 points-For becoming a runner up in an event<br>
3 points-For participating in an event
<br><br>
Part two-
    <br>
    <p style="font-size: 17px; text-align: center;"><b >T-Turning Point</b></p>

This round consists of two parts:<br>
1.	JAM (just a minute): A topic will be given on the spot and the candidate will have to speak on that topic for a minute. This will mainly check the thought process of the candidate.<br>
2.	Track’ n field: A task will be given and the candidates are expected to perform. The task will basically check the ability and potential of the candidate.<br>
Both rounds will be of 75 points each.
<br><br>
Day 3-<br>
Final round (only for top ten contestants)<br>
<p style="font-size: 17px; text-align: center;"><b >Y-Your true value</b></p>

The final round consists of the personal interview(P.I.)

</div>

   <div class="tab-pane" id="coordinator" role="tabpanel">
      <br>
       <br>
       <br>
       <ol>
       <li>Shivani -- 8309285753</li>
<li>Shishupal -- 9520017660</li>
<li>Suyash -- 7237859594</li>
<li>Mayank -- 9305133691</li>
<li>Vikas -- 9889624776</li>
<li>Zartab -- 8960618224</li>
<li>Huzaifa -- 8574155609</li>
<li>Ashish -- 9598694625</li>

       </ol>
  </div>

</div>



      </div>



             <div class="col-sm-5  eimage">


                  <img src="images/mega-event-2.png" height="490" width="100%" alt="SOTY" title="Student of the Year" style="align-items: center;">
             </div>
         </div>
         </div>

























     <!-- End of details-->


      <div style="margin-top: 50px;"></div>




{% endblock %}
<!--
      <footer class="row-footer">
      <div class="container">
          <div class="row">
              <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                  <h5>Important Links</h5>
                  <ul class="list-unstyled">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="event.html">Event</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="studentlogin.php">Login</a></li>

                      <li><a href="gallery.html">Gallery</a></li>

                  </ul>
              </div>

               <div class="col-xs-5 col-xs-offset-2 col-sm-4">
                  <h5>Related</h5>
                  <ul class="list-unstyled">
                      <li><a href="team.html">Our Team</a></li>
                      <li><a href="sponsor.html">Sponsor</a></li>
                       <li><a href="aboutus.html">About</a></li>

                  </ul>
              </div>



              <div class="col-sm-3">
                  <h5>Follow Us</h5>
                      <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/2k18technovation"><i class="fa fa-facebook"></i></a>
                      <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/Technovation_?s=08"><i class="fa fa-twitter"></i></a>

                    <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/technovation_2k18"><i class="fa fa-instagram"></i></a>
                      <a class="btn btn-social-icon btn-youtube" href=""><i class="fa fa-youtube"></i></a>
                      <a class="btn btn-social-icon" href=""><i class="fa fa-envelope-o"></i></a>



              </div>

             <!-- <div class="col-xs-6 col-sm-5">
                  <h5>Our Address</h5>
                  <address>
                26, Chatham line,<br>
               Allahabad. 211002,<br>
                 (U.P.) India<br>
                <i class="fa fa-phone"></i>:0532-244810<br>
            <i class="fa fa-fax"></i>:0532-2541520<br>
            <i class="fa fa-envelope"></i>:eddiertalld@gmail.com
                               <a href="eddiertalld@gmail.com"></a>
             </address>
              </div>

-->
<!--
              <div class="col-xs-12 col-sm-12 " style="background-color:dimgray">
                  <p style="padding:0px;"></p>
                  <p align=center style="color:">© Copyright 2K18 Technovation Web Development Team</p>
              </div>
          </div>
      </div>
  </footer>


--->
























  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
